table{
    padding-top: 2%;
    padding-left: 36.5%;
}
h1{
    padding-top: 5%;
    text-align: center;
}
span{
    padding-left: 47.5%;
}
body{
    background-color: #FAF0E6;
}
h1{
    color: #aca190;
}
.guzik{
    background-color: #aca190;
    color: #91826c;
}